h1 {
    font-weight: bold;
    margin: 0;
    font-size: 1em;
}

#tray {
    padding: 0.1em 1em 2em;
}

h2 {
    background-color: #f8f8f8;
    border-radius: 0.8em;
    box-shadow: 5px 5px 5px #888888;
    font-size: 1.1em;
    padding: 0.6em;
    margin: 1.5em auto 0.8em;
}

.form-container {
    text-align: center;
    background-color: #eee;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #888888;
    margin: 0 auto;
    padding: 1em;
}

form {
    text-align: left;
}

label {
    color: #5b9a9c;
}

table {
    font-size: 0.5em;
}

td {
    vertical-align: middle;
}

.buttons {
    text-align: right;
}

.btn {
    width: 6em;
}

#about {
    line-height: 1.4em;
    text-align: left;
    color: #808080;
    font-size: 0.8em;
    padding: 1em;
}

@media (min-width: 500px) {
    table {
        font-size: 0.8em;
    }

    #about {
        font-size: 1em;
    }
}

@media (min-width: 768px) {
    #tray {
        padding: 0.1em 2em 2em;
    }

    h2 {
        width: 90%;
        font-size: 1.4em;
    }

    .form-container {
        width: 90%;
        padding: 4em;
    }

    #about {
        padding: 2em 4em;
    }
}

@media (min-width: 960px) {
    #tray {
        padding: 0.1em 2em 2em;
    }

    table {
        font-size: 1em;
    }
}
