h1 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

#tray {
    padding: 0.1em 2em 2em;
}

h2 {
    width: 90%;
    background-color: #f8f8f8;
    border-radius: 0.3em;
    box-shadow: 5px 5px 5px #888888;
    padding: 0.2em;
    margin: 1em auto 0.5em;
}

.form-container {
    width: 90%;
    text-align: center;
    background-color: #eee;
    border-radius: 1em;
    box-shadow: 5px 5px 5px #888888;
    padding: 4em;
    margin: 0 auto;
}

form {
    text-align: left;
}

label {
    color: #5b9a9c;
}

.table-container {
    background-color: #f8f8f8;
    /*border: 1px solid gray;*/
}

table {

}

.buttons {
    text-align: right;
}

.btn {
    width: 6em;
}

@media (min-width: 400px) {

}

@media (min-width: 500px) {

}

@media (min-width: 600px) {

}

@media (min-width: 768px) {

}

@media (min-width: 960px) {

}
