{% extends 'layout.html' %}
{% block body %}
<script type="text/javascript">

var newgame = function(e) {
    $.getJSON($SCRIPT_ROOT + '/newgame', function(data) {
        $('#game_id').val(data.game_id);
        $('#player_id').val(data.player_id);
        getstateJSON();
    });
    return false;
};

var join = function(e) {
    $.getJSON($SCRIPT_ROOT + '/join', {
        game_id: $('#game_id').val()
    }, function(data) {
        $('#player_id').val(data.player_id);
        getstateJSON();
    });
    return false;
};

var start = function(e) {
    $.getJSON($SCRIPT_ROOT + '/start', {
        game_id: $('#game_id').val(),
        player_id: $('#player_id').val()
    }, function(data) {
        alert(data.result);
        getstateJSON();
    });
    return false;
};

var getstateJSON = function() {
    $.getJSON($SCRIPT_ROOT + '/getstate', {
        game_id: $('#game_id').val(),
        player_id: $('#player_id').val()
    }, showstate);
};

var getstate = function(e) {
    getstateJSON();
    return false;
};

var playcard = function(e) {
    $.getJSON($SCRIPT_ROOT + '/playcard', {
        game_id: $('#game_id').val(),
        player_id: $('#player_id').val(),
        card_id: $('#card_id').val(),
        selected_color: $('#selected_color').val()
    }, function(data) {
        alert(data.result);
        getstateJSON();
    });
    return false;
};

var draw = function(e) {
    $.getJSON($SCRIPT_ROOT + '/draw', {
        game_id: $('#game_id').val(),
        player_id: $('#player_id').val()
    }, function(data) {
        alert(data.result);
        getstateJSON();
    });
    return false;
};

var quit = function(e) {
    $.getJSON($SCRIPT_ROOT + '/quit', {
        game_id: $('#game_id').val(),
        player_id: $('#player_id').val()
    }, function(data) {
        alert(data.result);
        getstateJSON();
    });
    return false;
};

var getCardClickHandler = function(id) {
    return function() {
        $('#card_id').val(id);
    };
};

var makecard = function(card) {
    cDiv = $('<div class="card"></div>');
    if (card.color) {
        cDiv.css('border-color', card.color.toLowerCase())
    }
    // If the card value is a number, make font bigger.
    if (!isNaN(card.value)) {
        cDiv.css('font-size', '2em');
    // Otherwise, remove underscores, if any, to make it more aesthetic.
    } else {
        card.value = card.value.split('_').join(' ');
    }
    cDiv.append(card.value);
    cDiv.click(getCardClickHandler(card.id));
    return cDiv;
};

var showhand = function(hand, playerDiv) {
    var hDiv = $('<div class="hand"></div>');
    for (var i = 0; i < hand.length; i++) {
        hDiv.append(makecard(hand[i]));
    }
    playerDiv.append(hDiv);
};

var makeDummyCard = function() {
    cDiv = $('<div class="card"></div>');
    cDiv.css('font-size', '2em');
    cDiv.css('background-color', 'black');
    cDiv.css('color', 'white');
    cDiv.append('RUNO');
    return cDiv;
};

var showDummyHand = function(num_cards, playerDiv) {
    var hDiv = $('<div class="hand"></div>');
    for (var i = 0; i < num_cards; i++) {
        hDiv.append(makeDummyCard());
    }
    playerDiv.append(hDiv);
};

var showplayer = function(player) {
    var pDiv = $('<div class="player"></div>');
    pDiv.append('Name: <span>' + player.name + '</span><br>');
    pDiv.append('Active: <span>' + player.active + '</span><br>');
    pDiv.append('Game Winner: <span>' + player.game_winner + '</span><br>');
    pDiv.append('Cards In Hand: <span>' + player.hand_size + '</span><br>');
    pDiv.append('Points: <span>' + player.points + '</span><br>');
    pDiv.append('Rounds Won: <span>' + player.rounds_won + '</span><br>');
    if (player.hand_size > 0) {
        if (player.hasOwnProperty('hand')) {
            showhand(player.hand, pDiv);
        } else {
            showDummyHand(player.hand_size, pDiv);
        }
    }
    if (player.active) {
        pDiv.css('border', '5px solid #82f182');
    }
    $('#playerinfo').append(pDiv);
};

var showstate = function(game_info) {
    var gDiv = $('#gameinfo');
    var cDiv = $('#cardinfo');
    cDiv.empty();
    gDiv.empty();
    $('#discard').empty();
    $('#playerinfo').empty();
    if ($.isEmptyObject(game_info)) {
        return;
    }
    gDiv.append('Name: <span>' + game_info.name + '</span><br>');
    gDiv.append('Active: <span>' + game_info.active + '</span><br>');
    gDiv.append('Created At: <span>' + game_info.created_at + '</span><br>');
    gDiv.append('Ended At: <span>' + game_info.ended_at + '</span><br>');
    gDiv.append('Min Players: <span>' + game_info.min_players + '</span><br>');
    gDiv.append('Max Players: <span>' + game_info.max_players + '</span><br>');
    gDiv.append('Points To Win: <span>' + game_info.points_to_win + '</span><br>');
    gDiv.append('Reverse: <span>' + game_info.reverse + '</span><br>');
    gDiv.append('Started At: <span>' + game_info.started_at + '</span>');
    cDiv.append('Cards In Draw Pile: <span>' +
        game_info.draw_pile_size + '</span><br>');
    cDiv.append('Cards In Discard Pile: <span>' +
        game_info.discard_pile_size + '</span><br>');
    last_discard = null;
    if (!$.isEmptyObject(game_info.last_discard)) {
        var card_color = game_info.last_discard.color;
        var card_value = game_info.last_discard.value;
        last_discard = card_color + ' ' + card_value;
        $('#discard').append(makecard(game_info.last_discard));
    }
    cDiv.append('Last Discard: <span>' + last_discard + '</span>')
    var num_players = game_info.players.length;
    for (var i = 0; i < num_players; i++) {
        showplayer(game_info.players[i]);
    }
};

$(function() {
    $('#newgame').bind('click', newgame);
    $('#join').bind('click', join);
    $('#start').bind('click', start);
    $('#getstate').bind('click', getstate);
    $('#playcard').bind('click', playcard);
    $('#draw').bind('click', draw);
    $('#quit').bind('click', quit);
    setInterval(getstateJSON, 1000);
});

</script>
<h1>Runo Test Client</h1>
<div id="container">
    <div id="controls">
        <div id="actions">
            <a href="#" id="newgame">New Game</a> |
            <a href="#" id="join">Join Game</a> |
            <a href="#" id="start">Start Game</a> |
            <a href="#" id="getstate">Get State</a> |
            <a href="#" id="playcard">Play Card</a> |
            <a href="#" id="draw">Draw</a> |
            <a href="#" id="quit">Quit</a>
        </div>
        <div id="variables">
            Game ID<br>
            <input type="text" size="72" id="game_id"><br>
            Player ID<br>
            <input type="text" size="72" id="player_id"><br>
            Card ID<br>
            <input type="text" size="72" id="card_id"><br>
            Selected Color<br>
            <input type="text" size="72" id="selected_color">
        </div>
    </div>
    <div id="game">
        <div id="gameinfocontainer">
            <div id="gameinfo">
            </div><div id="cardinfo">
            </div><div id="discard">
            </div>
        </div>
        <div id="playerinfo">
        </div>
    </div>
</div>
{% endblock %}
